.banner {
background-image: url('../weather/banner.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
}



.top-buffer { margin-top: 130px;}

body {

text-align: center;
background-color: #06052d;
}

h1 {color: #EB4723;
font-size: 80px;
text-decoration: underline;
text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;}


.top-buffer { margin-top: 100px;}

img {width: 140px;
position: right;}

h2,h3 {color: #c0cad3;
  text-decoration: underline;
  font-style: italic;
text-transform: uppercase;}

p2 {position: center;
color: #c0cad3;
font-size: 17px;
text-align: justify;
text-transform: uppercase;
font-style:italic;font-size:17;color:#c0cad3;
}


/*h3 {color: #c0cad3;
  text-transform: uppercase;}*/

/*p2 {position: center;
color: #c0cad3;
font-size: 20px;
text-align: justify;
text-transform: uppercase;
font-style:italic;font-size:18px;color:#c0cad3;}*/
